fastapi
uvicorn[standard]
python-multipart
pydantic-settings
httpx

torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
timm
numpy
pillow
opencv-python-headless
tqdm

onnx
onnxscript
tritonclient[grpc]
mlflow

prometheus-client
redis
pytest
requests
