fastapi
uvicorn[standard]
python-multipart
pydantic-settings
httpx

torch
torchvision
torchaudio
timm
numpy
pillow
opencv-python-headless
tqdm

onnx
onnxscript
tritonclient[grpc]

gradio==5.6.0
gradio_client==1.4.3

pytest